<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!--Head replace-->
<head th:replace="head :: head">
</head>

<body>

<div th:replace="navbar :: navbar">
</div>

<div th:replace="top :: top">
</div>


<form action="demo_form.asp">
    <div class="container">
        <h2>Checkout</h2>
        <p>Please fill it carefully</p>
        <table>
            <tbody>
                <tr>
                <tr><td><h5>First name: </h5></td><td><input class="input-text" type="text" name="fname"></input></td></tr>
                <tr><td><h5>Last name: </h5></td><td><input class="input-text" type="text" name="lname"></input></td></tr>
                <tr><td><h5>E-mail: </h5></td><td><input class="input-text" type="text" name="email"></input></td></tr>
                <tr><td><h5>Phone number: </h5></td><td><input class="input-text" type="text" name="phonenumber"></input></td></tr>
                <tr><td><h5>Billing address:</h5></td></tr>
                <tr><td><h5>Country: </h5></td><td><input class="input-text" type="text" name="bacountry"></input></td></tr>
                <tr><td><h5>City: </h5></td><td><input class="input-text" type="text" name="bacity"></input></td></tr>
                <tr><td><h5>Zip code: </h5></td><td><input class="input-text" type="text" name="bazipcode"></input></td></tr>
                <tr><td><h5>Street with number: </h5></td><td><input class="input-text" type="text" name="baaddress"></input></td></tr>
                <tr><td><input type="checkbox" name="similair"><h5>Billing and shipping address is the same</h5></input></td></tr>
                <tr><td><h5>Shipping address:</h5></td></tr>
                <tr><td><h5>Country: </h5></td><td><input class="input-text" type="text" name="sacountry"></input></td></tr>
                <tr><td><h5>City: </h5></td><td><input class="input-text" type="text" name="sacity"></input></td></tr>
                <tr><td><h5>Zip code: </h5></td><td><input class="input-text" type="text" name="sazipcode"></input></td></tr>
                <tr><td><h5>Street with number: </h5></td><td><input class="input-text" type="text" name="saaddress"></input></td></tr>
                </tr>
            </tbody>
        </table>
        <a th:href="'/payment'"><button type="button" class="btn btn-default btn-sm">Payment</button></a>
    </div>
</form>

<div th:replace="footer :: copy"></div>

</body>
</html>