<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!--Head replace-->
<head th:replace="head :: head">
</head>

<body>

<div th:replace="navbar :: navbar">
</div>

<div th:replace="top :: top">
</div>


<form action="demo_form.asp">
    <div>
        First name: <input type="text" name="fname"><br></br></input>
        Last name: <input type="text" name="lname"><br></br></input>
        E-mail: <input type="text" name="email"><br></br></input>
        Phone number: <input type="text" name="phonenumber"><br></br></input>
        Billing adress:<br></br>
        Country: <input type="text" name="bacountry"><br></br></input>
        City: <input type="text" name="bacity"><br></br></input>
        Zip code: <input type="text" name="bazipcode"><br></br></input>
        Street with number: <input type="text" name="baadress"><br></br></input>
        <input type="checkbox" name="similair">Billing and shipping adress is the same<br></br></input>
        Shipping adress:<br></br>
        Country: <input type="text" name="sacountry"><br></br></input>
        City: <input type="text" name="sacity"><br></br></input>
        Zip code: <input type="text" name="sazipcode"><br></br></input>
        Street with number: <input type="text" name="saadress"><br></br></input>
        <button type="submit" value="Submit" class="btn btn-default btn-sm">Payment</button>
    </div>
</form>

<div th:replace="footer :: copy"></div>

</body>
</html>