<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--Head replace-->
<head th:replace="head :: head">
</head>

<body>

<div th:replace="navbar :: navbar">
</div>

<div th:replace="top :: top">
</div>

<div>
    <h2 class="undercon">Payment Details</h2>
    <div class="container">
        <table class="table">
            <tbody>
            <tr><td><h3>Your Data</h3></td></tr>
            <tr><td><h6>First name: </h6></td><td th:text="${fname}">Name</td><td><h6>Last name: </h6></td><td th:text="${lname}">Last</td></tr>
            <tr><td><h6>Email: </h6></td><td th:text="${email}">email</td><td><h6>Phonenumber: </h6></td><td th:text="${phonenumber}">phone</td></tr>

            <tr><td><h4>Billing Address: </h4></td><td></td><td><h4>Shipping Address: </h4></td></tr>
            <tr><td><h6>Country: </h6></td><td th:text="${bacountry}">country</td><td><h6>Country: </h6></td><td th:text="${sacountry}">country</td></tr>
            <tr><td><h6>City: </h6></td><td th:text="${bacity}">city</td><td><h6>City:</h6></td><td th:text="${sacity}">city</td></tr>
            <tr><td><h6>Zip code: </h6></td><td th:text="${bazipcode}">zipcode</td><td><h6>Zip code: </h6></td><td  th:text="${sazipcode}">zipcode</td></tr>
            <tr><td><h6>Street with number: </h6></td><td th:text="${baaddress}">street</td><td><h6>Street with number: </h6></td><td  th:text="${saaddress}">street</td></tr>
            </tbody>
        </table>


        <table class="table">
            <thead>
            <tr><td><h3>Your Shipping Options</h3></td></tr>
            <tr>
                <th>Details</th>
                <th>Distance in km</th>
                <th>Price</th>
                <th>Currency</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <div class="item col-xs-4 col-lg-4" >
            <tr>
                <td th:text="${details}">A</td>
                <td th:text="${distance}">A</td>
                <td th:text="${shippingfee}">A</td>
                <td th:text="${currency}">A</td>
            </tr>
    </div>
    <!-- - name of the Product-->
    </tr>
    <tr>
        <th>Total Price with shipping cost</th>
        <th></th>
        <th th:text="${totalPrice}">total</th>
        <th th:text="${currency}">curr</th>
    </tr>
    </tbody>
    </table>


    <div class="pull-right">
        <a th:href="'/thankyou'"><button type="submit" class="btn btn-default btn-sm">Complete Payment</button></a>
    </div>
</div>

</div>
<div th:replace="footer :: copy"></div>

</body>
</html>